/* go back and fix all sizes of things to maybe rem or em */

*{
  font: arial;
}

html, body{
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav{
  text-align: center;
  background-color:black;
  position: sticky; 
  top: 0;
  padding: 25px;
}

.nav-menu{
  background-color: white;
  position: absolute;
  top: 4.5em;
  left: -23%;
  height: 100vh;
  width: 200px;
  transition: 0.3s;
}

.nav-shade{
  position: absolute;
  top: 56px;
  right: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}

.nav-shade.active{
  visibility: visible;
  opacity: .6;
}

.nav-menu.active {
  left: 0px;
}

.nav-item {
  color: black;
  cursor: pointer;
  display: block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin: 10px 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.button{
  display: block;
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin: 10px 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.home, .about{
  padding-left: 3.8rem;
  padding-right: 3.8rem;
}

.n{
  padding-left: 4rem;
  padding-right: 4rem;
}

.b{
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}

.projects{
  padding-left: 3.4rem;
  padding-right: 3.4rem;
}

img.splash{
  width: 100%;
}

.webTitle{
  font-size: large;
  color: white;
}

.hamburger{
  float: left;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.bar#bar1{
  margin: 0px auto;
}

.mission{
  text-align: center;
  margin: 2.5% 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.statement{
  padding: 1.5rem 3rem 
}

.contact-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2.5% 10%;
}

.brandon{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.neel{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
*/
