*{
  font: arial;
}

html, body{
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav{
  text-align: center;
  background-color:black;
  position: sticky; 
  top: 0;
  padding: 25px;
}

.nav-menu{
  background-color: white;
  position: absolute;
  top: 56px;
  left: -23%;
  height: 100vh;
  width: 200px;
  transition: 0.3s;
}

.nav-shade{
  position: absolute;
  top: 56px;
  right: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}

.nav-shade.active{
  visibility: visible;
  opacity: .6;
}

.nav-menu.active {
  left: 0px;
}

img{
  width: 100%;
}

.webTitle{
  font-size: large;
  color: white;
}

.hamburger{
  float: left;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.bar#bar1{
  margin: 0px auto;
}
